<section id="app">
    <!-- <div class="movie-wrapper">
      <aside>
        <h4 class="movie-title">{{ defaultMovie.movies_title }}</h4>
        <span class="movie-year">
          {{defaultMovie.movies_year}} &nbsp;&bull;&nbsp; {{defaultMovie.movies_runtime}}
        </span>
        <i class="movie-genre">{{defaultMovie.genre_name}}</i>
      </aside>
      <video autoplay controls>
        <source src="video/{{ defaultMovie.movies_trailer }}">
      </video>
    </div> -->

    <div class="moviesDiv">
      <h2>Movies</h2>
      <div class="movie-list" v-for="movie in movies">
        <a :href="'/watch/' + movie.id">
          <img class="movie-thumb" :src="'/images/' + movie.cover" :alt="movie.name">
        </a>
      </div>
    </div>

    <div class="musicDiv">
      <h2>Music</h2>
      <div class="musicThumb" v-for="song in music">
        <img class="musicCover" :src="'images/' + song.cover" :alt="song.title">
         <audio controls class="audio" :src="'audio/' + song.link"></audio>
        <h3>${song.title}</h3>
        <p>${song.artist}</p>
      </div>
    </div>

    <div class="tvDiv">
    <h2>Shows</h2>
    <div v-for="show in tv">
      <a class="movieLink" :href="'/watchTv/' + show.id" :id="show.id">
        <div class="movieThumb">
          <img :src="'/images/' + show.cover" :alt="show.title">
          <h3>${show.title}</h3>
        </div>
      </a>
    </div>
   </div>
</section>
